{% extends 'base/main.html' %}
{% load staticfiles %}
{% block home %}
<!-- Team -->
    <section id="team" class="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box">
                        <h2 class="section-title">Выбор типа измерений</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="linkblock " onclick="location.href='{% url 'igbt:igbt_static_cold_modules' %}';">
                        <div class="team-box">
                            <img class="img-responsive img-full" src="{% static 'images/TPS_625_.jpg' %}" alt="team">
                            <div class="team-detail">
                                <ul>
                                    <li><h3>TPS 625</h3></li>
                                    <li><h4>cold</h4></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="linkblock " onclick="location.href='{% url 'igbt:igbt_static_hot_modules' %}';">
                        <div class="team-box">
                            <img class="img-responsive img-full" src="{% static 'images/TPS_625_hot_.jpg' %}" alt="team">
                            <div class="team-detail">
                                <ul>
                                    <li><h3>TPS 625</h3></li>
                                    <li><h4>hot</h4></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="linkblock " onclick="location.href='{% url 'igbt:igbt_dinamic_cold_modules' %}';">
                        <div class="team-box">
                            <img class="img-responsive img-full" src="{% static 'images/DTS_758_.jpg' %}" alt="team">
                            <div class="team-detail">
                                <ul>
                                    <li><h3>DTS 758</h3></li>
                                    <li><h4>cold</h4></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="linkblock " onclick="location.href='{% url 'igbt:igbt_dinamic_hot_modules' %}';">
                        <div class="team-box">
                            <img class="img-responsive img-full" src="{% static 'images/DTS_758_hot_.jpg' %}" alt="team">
                            <div class="team-detail">
                                <ul>
                                    <li><h3>DTS 758</h3></li>
                                    <li><h4>hot</h4></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock%}    
{% block css %}              
<style>  
.linkblock {
cursor:pointer;
}
</style>
{%endblock%}  