{% extends 'base/main.html' %}
{% load staticfiles %}
{% block home %}

<!-- Header Section -->
    <header id="header" class="header overlay-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="intro-box c-table">
                        <div class="intro ct-cell">
                            <h1>IGBT</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
 <!-- Consultation -->
    <section id="consultation" class="consultation">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box">
                        <h2 class="section-title">Просмотр результатов измерений IGBT модулей</h2>
                        <p class="section-subtitle">Данное приложение позволяет просматривать 
                                                    результаты измерений IGBT модулей, 
                                                    проведённых на испытательном 
                                                    оборудовании TPS 625 и DTS 758.</p>
                    </div>
                </div>
                <center>
                    <img src="{% static 'images/igbt.jpg' %}" class="img-rounded" width="60%" height="60%">
                </center>
                <br>
                <div class="col-sm-4 col-sm-offset-4">
                    <a class="btn btn-default btn-block btn-cn" href="{% url 'igbt:igbt_choice' %}">Просмотр результатов</a>
                </div>
            </div>
        </div>
    </section>
{%endblock%}