{% extends 'base/main.html' %}
{% load staticfiles %}
{% block static_igbt %}
<!-- Team -->
<section id="team" class="team">
<div class="row">
                    
    <div class="col-sm-8 col-md-6 col-lg-5" >                                
        <div class="team">    
            <div class="hero-unit"> 
            
                <div style='overflow-y:auto; width:100%;'>    
                    <table class="table table-condensed table-striped" style="table-layout: fixed;" >
                        <caption>Основные данные</caption>

                        <tbody>   
                        
                            <tr>
                                <td>ЗНП</td>
                                <td><b>{{ object.znp }}</b></td>               
                            </tr>
                            
                            <tr>
                                <td>Тип модуля</td>
                                <td><b>{{ object.module_type }}</b></td>
                            </tr>
                            
                            <tr>
                                <td>Температура</td>
                                <td><b>{{ object.temperature }}</b></td>
                            </tr>                     
                          
                            <tr>
                                <td>Тип теста измерений</td>
                                <td><b>{{ object.test_config }}</b></td>               
                            </tr>
                            
                            <tr>
                                <td>Дата</td>
                                <td><b>{{ object.time }}</b></td>               
                            </tr>
                            
                        </tbody>
                    </table>                                 
                </div>     
                
            </div>
        </div>
    </div>
    
    <div class="col-sm-1 col-md-4 col-lg-5" >                             
    </div>
    
    <div class="col-sm-3 col-md-2 col-lg-2" >                                
        <div class="team">    
            <div class="hero-unit">     
          
                <center>
                    <img class="btn btn-primary btn-lg" data-toggle="modal" 
                            data-target="#myModal" src="{% static 'images/excel.jpg' %}" width='90'>
                </center>
                     
                <p align="center", style='font-size: 14pt;'>Загрузить</p>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Добавить ваши данные в отчёт?</h4>
                            </div>
                                <div class="modal-body">

                                    <div style='overflow-y:auto; width:100%;'>    
                                        <table class="table table-condensed table-striped" style="table-layout: fixed;" >

                                            <tbody>   
                                            
                                                <tr>
                                                    <td>Фамилия</td>
                                                    <td><b>{{ user.last_name }}</b></td>               
                                                </tr>
                                                
                                                <tr>
                                                    <td>Имя</td>
                                                    <td><b>{{ user.first_name }}</b></td>               
                                                </tr>
                                                
                                                <tr>
                                                    <td>Отчество</td>
                                                    <td><b>{{user.profile.patronymic}}</b></td>               
                                                </tr>                     
                                              
                                                <tr>
                                                    <td>Должность</td>
                                                    <td><b>{{user.profile.post}}</b></td>               
                                                </tr>
                                                
                                                <tr>
                                                    <td>Примечание</td>
                                                    <td><input type="text" name="note" form='form_2' ></td>               
                                                </tr>
                                                
                                                
                                            </tbody>
                                        </table>                                 
                                    </div>     
                              
                                </div>
                                
                                <div class="modal-footer">
                                
                                    <div class="row">                                
                                    
                                        <div class="col-sm-6 col-md-6 col-lg-6" >                              
                                        </div>
                                                        
                                        <div class="col-sm-3 col-md-3 col-lg-3" >                                
                                                
                                            <form id='form_1' action="{%url 'igbt:xlsx' %}" method="get">                                            
                                                
                                                <input type="hidden" name="add" value=''>  
                                                <input type="hidden" name="path" value={{request.path}}>      
                                                
                                                <center>
                                                    <input id='xlsx1' class="btn btn-default btn-cn" type="submit" value="Не добавлять" >
                                                </center>
                                                
                                            </form>                                                 
                                             
                                        </div>
                                                                
                                        <div class="col-sm-3 col-md-3 col-lg-3" >                              
                                                                         
                                            <form id='form_2' action="{%url 'igbt:xlsx' %}" method="get">
                                            
                                                <input type="hidden" name="add" value='ok'>                                                
                                                <input type="hidden" name="path" value={{request.path}}>                                                  
                                          
                                                <center>
                                                    <input id='xlsx2' class="btn btn-default btn-cn" type="submit" value="Добавить" >
                                                </center>
                                                
                                            </form>                                                 
                                           
                                        </div>  
                                        
                                    </div>                             
                                
                                </div>
                        </div>
                    </div>
                </div>            
                                                
            </div>
        </div>
    </div>
    
</div>
</section>
<!-- Nav tabs -->
<ul class="nav nav-tabs team">
    <li class="active"><a id='enable' href="#home" data-toggle="tab">Результаты</a></li>
    <li><a id='disable' href="#profile" data-toggle="tab">Параметры</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane fade in active" id="home">                      

        <table id="res_tb" class="table table-condensed table-striped display" width=100%>
            <caption>Результаты испытаний</caption>
            
            <thead>  
                {% for x in prot_obj.result_measurements_headers %}
                    <tr>
                        {% for y in x%}                            
                        <th>{{y}}</th>
                        {% endfor %}                         
                    </tr>
                {% endfor %}
            </thead>
            <tbody>                    
                    {% for x in prot_obj.result_measurements_values_and_limits %}
                        <tr>
                            {% for y,z in x %}                                 
                                {% if z == 'no' %}                                              
                                    <td style='color: red'>{{ y }}</td>                                    
                                {% else %}
                                    <td >{{ y }}</td>
                                {% endif %}                                  
                            {% endfor %}
                        </tr>                    
                    {% endfor %}
            </tbody>
            
        </table>                             
    </div>
        

    <div class="tab-pane fade" id="profile" style='overflow-y:auto; width:100%;'>
        <table class="table table-condensed table-striped">
            <caption>Параметры испытаний</caption>
            
            <thead>                    
                <tr>
                    {% for x in prot_obj.measure_parametrs_headers %}
                    <th>{{x}}</th>
                    {% endfor %}
                </tr>                        
            </thead>
            
            <tbody>                    
                    {% for x in prot_obj.measure_parametrs_values %}
                        <tr >
                            {% for y in x %}
                                <td>{{ y|linebreaksbr }}</a></td>
                            {% endfor %}
                        </tr>                    
                    {% endfor %}
            </tbody>
            
        </table>                        
    </div>
</div>


{%endblock%}

{% block scripts %}

<script type="text/javascript" src="{% static 'jquery/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery/datepicker-ru.js' %}"></script>
<script type="text/javascript" src="{% static 'DataTables-1.10.16/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DataTables-1.10.16/js/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'FixedHeader-3.1.3/js/dataTables.fixedHeader.min.js' %}"></script>

<script type="text/javascript">

$(document).ready(function() {
    var table = $('#res_tb').DataTable( {
        
        "language": {
        "url": "{% static 'rus.lang' %}"
        },
        "paging": false,
        fixedHeader: {
            header: true,
            headerOffset: $('#nav').height()
        }
    } );
        
    $('#enable').on( 'click', function () {
        setTimeout( function () {
            table.fixedHeader.enable();
        }, 1000)
    } );
    
    $('#disable').on( 'click', function () {
        table.fixedHeader.disable();
    } );    

    $('#xlsx1').on('click', function() {
        $('#myModal').modal('hide');
    });
    
    $('#xlsx2').on('click', function() {
        $('#myModal').modal('hide');
    });
} );

</script>

{%endblock%}

{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'DataTables-1.10.16/css/dataTables.bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'FixedHeader-3.1.3/css/fixedHeader.bootstrap.min.css' %}"/>   

<style> 
input[type=search] {
        border-color: #31436b;
}
.btn-primary {
    color: #fff;
    background-color: #31436b;
    border-color: #31436b;
}
a {
    color: #31436b;
}
.btn-lg {
    border-radius: 0px;
}
</style> 
{%endblock%}  