{% extends 'base/main.html' %}

{% load staticfiles %}

{% load i18n %}

{% block static_igbt %}
<!-- Team -->
<section id="team" class="team">
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
    
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Поиск
                </a>
            </h4>
        </div>
        
        <div id="collapseOne" class="panel-collapse collapse {{in}}">
            <div class="panel-body">
                                 
                <form id='form' action="{{request.path}}" method="get">
                    
                    <div class="row">
                    
                        <div class="col-sm-12 col-md-6 col-lg-4" >                                
                            <div class="well">    
                                <div class="hero-unit">

                                    <table class="table table-condensed" style="table-layout: fixed;">
                                    <caption>Критерии поиска №1</caption>
                                    {{ form1.as_table }}
                                    </table >
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-6 col-lg-4" >
                            <div class="well">    
                                <div class="hero-unit">
                                
                                    <table class="table table-condensed" style="table-layout: fixed;">
                                    <caption>Критерии поиска №2</caption>
                                    {{ form2.as_table }}
                                    </table >
                                       
                                </div>                                
                            </div>                                    
                        </div>
                        
                        <div class="col-sm-12 col-md-6 col-lg-4" >
                            <div class="well">    
                                <div class="hero-unit">
                                
                                    <table class="table table-condensed" style="table-layout: fixed;">
                                    <caption>Сортировка</caption>
                                    {{ sort.as_table }}
                                    </table >
                                    
                                    <center>    
                                        <input class="btn btn-default btn-cn" type="submit" value="Поиск/Сортировка" >
                                        <input id='reset' class="btn btn-default btn-cn" type="button" value ="Сбросить">                                   
                                    </center> 
                                    
                                </div>                                
                            </div>                                    
                        </div>  
                        
                    </div>                      
                    
                </form>

            </div>
        </div>
        
    </div>  
</div>

<div style='overflow-y:auto; width:100%;'>    
    <table class="table table-condensed"  >
        <caption>Таблица протоколов</caption>
        <thead>
        
            <tr>
                <th>ЗНП</th>
                <th>Дата</th>
                <th>Тип модуля</th>
                <th>Температура</th>            
                <th>Тип теста измерений</th>
            </tr>
            
        </thead>
        <tbody>
        
            {% for znp in znp_list %}
                <tr class="linkblock team-box" onclick="window.open('{{request.path}}{{znp.znp}}')">
                <td>{{ znp.znp }}</a></td>
                <td>{{ znp.time }}</td>     
                <td>{{ znp.module_type }}</td>  
                <td>{{ znp.temperature }}</td>          
                <td>{{ znp.test_config }}</td>                  
                </tr>
            {% endfor %}
            
        </tbody>
    </table>    
</div>

<center>
    <div class="pagination">
        <ul class="pagination pagination-sm">
        
            {% if page_obj.has_previous %}
                <li><a href="?{{ page_obj.previous_page_number.querystring }}" class="prev">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a>&laquo;</a></li>
            {% endif %}            
            {% for page in page_obj.pages %}
                {% if page %}
                    {% ifequal page page_obj.number %}
                        <li class="active"><span class="current page">{{ page }}</span></li>
                    {% else %}
                         <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                    <li><a>...</a></li>
                {% endif %}                
            {% endfor %}            
            {% if page_obj.has_next %}
                <li><a href="?{{ page_obj.next_page_number.querystring }}" class="prev">&raquo;</a></li>
            {% else %}
                <li class="disabled"><a>&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
</center>
</section>
{%endblock%}

{% block scripts %}
<script type="text/javascript" src="{% static 'jquery/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery/datepicker-ru.js' %}"></script>

<script type="text/javascript">

$(document).ready(function() {

    $( function() {
        $( "#id_date_1" ).datepicker($.datepicker.regional[ "ru" ]);
    } );

    $( function() {
        $( "#id_date_2" ).datepicker($.datepicker.regional[ "ru" ]);
    } );

    var dates = $( "#id_date_1, #id_date_2" ).datepicker({
        maxDate: new Date(),
        minDate: new Date("1991-02-13"),
        onSelect: function( selectedDate ) {
            var option = this.id == "id_date_1" ? "minDate" : "maxDate",
            instance = $( this ).data( "datepicker" ),
            date = $.datepicker.parseDate(
                instance.settings.dateFormat ||
                $.datepicker._defaults.dateFormat,
                selectedDate, instance.settings );
            dates.not( this ).datepicker( "option", option, date );}
    });

    $( "#id_znp" ).autocomplete({
        source: function( request, response ) {
        $.ajax( {
            url: "/json_znp/",
            data: {
                term: request.term,
                path: "{{request.path}}"
                    },
        success: function( data ) {
            response( data );
                                            }
                } );
                                                            },
        minLength: 2,
                                            } );

    $('#reset').bind('click', function() {
      $('#id_date_1').val('');
      $('#id_date_2').val('');
      $('#id_znp').val('');
      $('#id_module_type option').removeAttr('selected');
      $('#id_module_type option:first').attr('selected', 'selected');
      $('#id_sorting option').removeAttr('selected');
      $('#id_sorting option:first').attr('selected', 'selected');
    });
} );

</script>

{%endblock%}

{% block css %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>  
.well {
border-radius: 0px;
background-color: #F2EEED;
}
.panel-default>.panel-heading {
background-color: #F2EEED;
}
.panel-group .panel {
border-radius: 0px;
}
.linkblock {
cursor:pointer;
}
.ui-autocomplete-loading {
background: white url("{% static 'images/ui-anim_basic_16x16.gif' %}") right center no-repeat;
}
input {
border-color: transparent;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
select {
border-color: transparent;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #31436b;
    border-color: #31436b;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    border-color: #31436b;
}
.pagination>li>a, .pagination>li>span {
    color: #31436b;
    border: 1px solid #31436b;
}
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

</style> 
{%endblock%}
