﻿{% extends 'base/main.html' %}
{% load staticfiles %}
{% block login_logout %}
<section id="team" class="team">
<div class="row">

    {% if form.errors or next %}              
    <div class="col-sm-6 col-md-6 col-lg-6" >                                
        <div class="well well-large team">    
            <div class="hero-unit">
            
                {% if form.errors %}
                <p style='color:red'>Неверное имя пользователя или пароль. Пожалуйста, попробуйте еще раз.</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                    <p>Доступа к этой странице запрещён. Войдите под своим логином для открытия доступа.</p>
                    {% else %}
                    <p>Введите свой логин и пароль.</p>
                    {% endif %}
                {% endif %}
                
            </div>
        </div>
    </div>
    {% endif %}
        
    <div class="col-sm-6 col-md-6 col-lg-6" >
        <div class="well well-large team">    
            <div class="hero-unit">
            
                <form method="post" action="{% url 'igbt:login' %}">
                {% csrf_token %}
                
                <table class="table table-condensed" style="table-layout: fixed;">
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                </table>

                <input class="btn btn-default btn-cn" type="submit" value="Войти" />
                <input type="hidden" name="next" value="{{ next }}" />
                </form>         
                   
            </div>                                
        </div>                                    
    </div>
    
</div>
</section>
{% endblock %}

{% block css %}
<style> 
.well {
    border-radius: 0px;
</style> 
{%endblock%}
