{% extends 'base/main.html' %}
{% load staticfiles %}
{% block password_change %}
<section id="team" class="team">
<div class="row">

    <div class="col-sm-6 col-md-6 col-lg-6" >
        <div class="well well-large team" >    
            <div class="hero-unit">
            
                <p style='text-indent: 15px;'>Пожалуйста, введите свой старый пароль, а затем введите ваш новый 
                        пароль дважды, чтобы быть уверенным, что вы ввели его правильно.</p>

                {% if form.new_password1.help_text %}
                    <p class="help" style='text-indent: 15px;'>{{ form.new_password1.help_text|safe }}</p>
                {% endif %}
                
                {% if form.new_password2.help_text %}
                <p class="help" style='text-indent: 15px;'>{{ form.new_password2.help_text|safe }}</p>
                {% endif %}                  
                             

                {% if form.errors %}
                
                    <p style='text-indent: 15px; color:red'>
                    {% if form.errors.items|length == 1 %}
                        Пожалуйста, исправьте ошибки в форме.
                    {% else %}Пожалуйста, исправьте ошибки в форме.
                    {% endif %}</p>
                    
                {% endif %}
                   
            </div>                                
        </div>                                    
    </div>   
    
    <div class="col-sm-6 col-md-6 col-lg-6" >                                
        <div class="well well-large team">    
            <div class="hero-unit">


                    <form method="post">                                       
                        {% csrf_token %}

                        <table class="table table-condensed" style="table-layout: fixed;">
       
                            <tr>
                                <td>{{ form.old_password.label_tag }}</td>
                                <td>{{ form.old_password }}</td>
                            </tr>
                            
                            <tr>
                                <td></td>
                                <td style='color:red'>{{ form.old_password.errors }}</td>
                            </tr>
                            
                            <tr>                        
                                <td>{{ form.new_password1.label_tag }} </td>
                                <td>{{ form.new_password1 }}</td>
                            </tr>
                            
                            <tr>
                                <td></td>
                                <td style='color:red'>{{ form.new_password1.errors }}</td>
                            </tr>
                            
                            <tr>                        
                                <td>{{ form.new_password2.label_tag }}</td>
                                <td>{{ form.new_password2 }}</td>
                            </tr>
                            
                            <tr>
                                <td></td>
                                <td style='color:red'>{{ form.new_password2.errors }}</td>
                            </tr>                    
                        
                        </table>                        

                        <input class="btn btn-default btn-cn" type="submit" value='Изменить пароль' />

                        <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
     
                    </form>
                    
            </div>                
        </div>
    </div>
    
</div>
</section>

{% endblock %}

{% block css %}
<style> 
.well {
    border-radius: 0px;
}
input {
    border-color: transparent;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
</style> 
{%endblock%}